---
// ProductCard.astro
export interface ProductCardProps {
    product: {
        category: string;
        image: string;
        name: string;
        description: string;
        discount?: number;
        isNew?: boolean;
    };
}

const { product } = Astro.props as ProductCardProps;
---

<div
    class="animate-pulse-fade-in animate-duration-fast product-item"
    data-category={product.category}
>
    <div
        class="relative overflow-hidden group border-t border-r border-l border-b-0 border-gray-300 transition-shadow duration-200 h-[400px] flex flex-col hover:shadow-2xl hover:shadow-gray-400 bg-white"
    >
        <img
            src={product.image}
            alt={product.name}
            class="w-full h-48 object-cover transition-transform duration-300 animate-scale animate-duration-fast group-hover:animate-pulsing group-hover:animate-duration-fast"
        />
        {
            product.discount && (
                <div class="absolute top-2 right-2 bg-red-500 text-white font-bold px-3 py-1 text-xs rounded-md shadow-md animate-tada animate-delay-300 animate-duration-slowest">
                    -Q{product.discount}
                </div>
            )
        }
        {
            product.isNew && (
                <div class="absolute top-2 left-2 bg-green-600 text-white font-bold px-3 py-1 text-xs rounded-md shadow-md animate-sway animate-delay-300 animate-duration-slowest">
                    NUEVO
                </div>
            )
        }
        <div class="p-4 flex-grow">
            <h3 class="text-lg font-semibold mb-2 text-gray-800">
                {product.name}
            </h3>
            <p class="text-sm text-gray-600">{product.description}</p>
        </div>
        <div
            class="absolute bottom-0 left-0 right-0 bg-red-600 text-white py-2 px-4 text-center translate-y-full transition-transform duration-200 group-hover:translate-y-0"
        >
            <a href="#" class="block w-full font-bold">COTIZAR</a>
        </div>
    </div>
</div>

<style>
    @media (max-width: 640px) {
        .product-item .group > div:last-child {
            transform: translateY(0);
        }
    }
    @media (min-width: 640px) {
        .product-item .group {
            @apply border-t border-r;
            border-left: none;
            border-bottom: none;
        }
    }
    .animate-fade-in {
        animation: fadeIn 0.5s ease-out;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .hover\:shadow-lg:hover {
        box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.1),
            0 6px 20px rgba(0, 0, 0, 0.1);
    }
    .shadow-md {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
